# Dependencies
node_modules/

# Build / cache
dist/
build/
.cache/
*.log
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# OS
Thumbs.db
Desktop.ini
.DS_Store

# IDE
.idea/
.vscode/*
!.vscode/extensions.json

# Uploads locais (API)
apps/api/uploads/
